:root{
--brown:#A59678;
--white:#FFFFFF;
--light-blue:#6F737F;
--blue:#3B4050;
--dark-blue:#2E323F;
--gray:#f1f1f1;
}


/*===========Reset=====================*/
*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family:"Montserrat",sans-serif;
  line-height:1.6;
}

img{
  max-width:100%;
  display:block;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}


/*=========Navbar======================*/
.navbar{
  background-color: var(--dark-blue);
  padding: 10px 0;
  color: var(--white);
  display: flex;
}

.navbar__box{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.navbar__img{
  height: 40px;
  grid-column: 2;
  justify-self: center;
}

.menu-toggle{
  display: none;
}

.burger{
  width: 25px;
  display: flex;
  flex-direction: column;
  grid-column: 3;
  justify-self: end;
  cursor: pointer;
}

.burger__row{
  background: var(--white);
  height: 3px;
  margin: 4px 0;
}

.menu{
  grid-column: 1 / -1;
  display: none;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.navbar__list{
  list-style: none;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navbar__item{
  margin: .5rem 0;
}

.navbar__link{
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  font-family: "Oswald";
  font-weight: 700;
  display:flex;
  align-items:center;
}

.navbar__item--unique a{
  padding: .2rem 1rem;
  border-radius: 100px;
  background-color: var(--brown);
}

.menu-toggle:checked ~ .menu{
  display: flex;
}


/*=============HERO (upper)==============*/
.upper{
  padding: 5rem 0;
  background-color: var(--blue);
}

.upper__title{
  font-family: "Oswald";
  font-size: 70px;
  line-height: 1.05;
  color: var(--white);
}

.upper__title--brown{
  color: var(--brown);
}

.upper__right{
  margin-top: 100px;
}

.upper__text{
  font-size: 24px;
  color: var(--white);
  margin-bottom: 1em;
}

.upper__btn{
  background-color: var(--brown);
  border: none;
  cursor: pointer;
  padding: .3rem 2rem;
  border-radius: 100px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 24px;
  font-family: "Oswald";
  font-weight: bold;
}


/*==============Clasuses===============*/
.clauses{
  padding: 5rem 0;
  background-color: var(--gray);
}

.clauses__title{
  color: var(--brown);
  text-align: center;
  font-size: 30px;
  font-family: "Oswald";
  margin: .7em 0;
}

.clauses__text{
  font-size: 18px;
  color: var(--dark-blue);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}


/*=============Hard Section============*/
.hard{
  padding: 5rem 0;
}

.hard__title{
  font-family: "Oswald";
  font-size: 28px;
  margin-bottom: 1rem;
  color: var(--brown);
}

.hard__text{
  font-size: 21px;
  color: var(--dark-blue);
}

.hard__img{
  margin: 2rem 0;
}

.hard__right{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hard__card{
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 1.5rem;
}

.hard__card-title{
  text-align: center;
  font-family: "Oswald";
  font-size: 30px;
  margin-bottom: 3px;
}

.hard__card-text{
  text-align: center;
  font-size: 18px;
}


/*============Footer===================*/
.bottom{
  padding: 5rem 0;
  background-color: var(--blue);
}

.bottom__title--main{
  font-size: 30px;
  font-family: "Oswald";
  color: var(--white);
  text-align: center;
  margin-bottom: 2em;
}

.bottom__title{
  color: var(--brown);
  font-size: 21px;
  font-family: "Oswald";
  margin: .5em 0;
}

.bottom__text, .bottom__list{
  color: var(--light-blue);
  font-size: 16px;
}

.bottom__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.bottom__link{
  text-decoration: none;
  color: var(--light-blue);
}

/*==========Tablet=====================*/

@media (min-width: 700px) {
  .navbar__box{
    display: flex;
    align-items: center;
  }

  .navbar__img{
    margin-right: auto;
    
  }

  .burger{
    display: none;
  }

  .menu{
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    width: auto;
    margin-top: 0;
  }

  .navbar__list{
    display: flex;
    gap: 20px;
    align-items:center;
    flex-direction: row;
  }

  .navbar__item{
    margin: 0;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .upper-row{
    align-items: flex-end;
  }

  .upper__right{
    flex: 1;
    margin: 0;
  }

  .upper__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .clauses__text{
    text-align: center;
  }

  .clauses-row{
    justify-content: space-between;
  }

  .hard-row{
    display: block;
  }
  
  .hard__right{
    margin-top: 50px;
  }

  .hard__card-text{
    font-size: 16px;
  }

  .bottom__item{
    flex: 1;
  }

  .bottom__item--big{
    flex: 1.8;
  }

  .bottom__title--main{
    font-size: 40px;
  }

}

/*=============Desktop=================*/

@media (min-width: 1000px){
  .hard-row{
    display: flex;
  }

  .hard__right{
    flex-direction: column;
    flex: 1;
    margin: 0;
  }

  .hard__card-text{
    font-size: 18px;
  }

  .hard__left{
    flex: 2;
  }

  .clauses__item{
    max-width: 280px;
  }
}